{% if flash.has('success') %}
    {% for message in flash.getMessages('success') %}
        <div class="alert alert-success fadeIn animated">
            {{ message | raw }}
        </div>
    {% endfor %}
{% endif %}

{% if flash.hasWarning() %}
    {% for message in flash.getWarningMessages() %}
        <div class="alert alert-warning fadeIn animated" style="animation-delay: .2s">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% if flash.has('error') %}
    {% for message in flash.getMessages('error') %}
        <div class="alert alert-danger fadeIn animated  alert-dismissible" style="animation-delay: .4s">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% if flash.has('notification') %}
   <script>
//       toastr.options = {
//           "positionClass": "toast-bottom-right"
//       };
       toastr.success('{{ flash.getMessage('notification') }}');
   </script>
{% endif %}